// Body
$body-bg: #f8fafc;

// Typography
$font-family-sans-serif: 'Nunito', sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;

$primary-color: #057a65;
$secondary-color: #e4b717;
$primary-lighten: #459e91;
$gray: #f3f2f3;
$light-gray: #fafafa;
$text: #dbebe8;
$inverse: #ffffff;
$black: #292929;